.header {
  margin-top: 2rem;
  grid-column: center-start / center-end;
  color: $color-white;

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    &--img {
      width: 4.8rem;
      height: 4.8rem;
      animation: rotate 2s linear infinite;
    }

    &--text {
      font-size: 2rem;
      letter-spacing: 0.01rem;
      margin-right: auto;
    }
  }
}
