// COLORS
$color-primary-dark-1: #03012dff;
$color-primary-dark-2: #272541ff;
$color-primary-dark-3: #312f4bff;
$color-primary-light: #3d3b5eff;

$color-grey-light-1: #aeaeb7ff;
$color-grey-light-2: #d5d4d9ff;

$color-secondary-dark: #2d1c9cff;
$color-secondary-light: #4455daff;

$color-white: #fff;
$color-orange: #ff7c0aff;

// FONT VARIABLES
$font-display: "DM Sans", sans-serif;
$font-primary: "Bricolage Grotesque", sans-serif;

$border-medium: 15px;

// MEDIA QUERY

$bp-largest: 68em;  // 1090/16
$bp-medium: 51rem;   //820/16
$bp-small: 37.5rem; //600/16
