.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__dot {
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: $color-grey-light-1;
    animation: load 1s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
  p {
    font-family: $font-display;
    font-size: 1.6rem;
  }
}
