.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  font-family: $font-display;
  font-size: 1.8rem;
  z-index: 1000;
  backdrop-filter: blur(3rem);

  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: all 0.4;

  &__content {
    @include center;
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    background-color: $color-primary-light;
    border-radius: 9px;
    padding: 2rem;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    top: 0rem;
    right: 1rem;
    border: none;
    background-color: inherit;
  }
  &__icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: $color-white;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
  }
}
