.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    gap: 1.2rem;
  }
  &__icon {
    position: absolute;
    top: 1rem;
    left: 2.2rem;
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-grey-light-1;
    z-index: 1;
    transition: all 0.2s;
  }

  &__box {
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $bp-small) {
      width: 60%;
    }
  }

  &__input {
    font-size: 1.6rem;
    color: $color-grey-light-1;
    width: 95%;
    background-color: $color-primary-dark-3;
    padding: 1.2rem 4.8rem;
    border-radius: 9px;
    border: none;
    transition: all 0.2s;
    &::placeholder {
      color: $color-grey-light-1;
      font-family: $font-display;
      font-size: inherit;
    }
    &:focus {
      outline: none;
      width: 100%;
    }
  }
  &__input:focus + &__icon {
    left: 1rem;
  }
}
.btn {
  cursor: pointer;
  padding: 1.2rem 1.8rem;
  font-family: $font-display;
  font-size: 1.4rem;
  background-color: $color-secondary-light;
  color: inherit;
  border-radius: 11px;
  border: none;

  @media only screen and (max-width: $bp-small) {
    width: 60%;
  }
}
