@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: scale(0);
  }
  25% {
    transform: translateY(0.5);
  }
  50% {
    transform: translateY(1);
  }
  100% {
    transform: translateX(1.2);
  }
}
