// GLOBAL RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
body {
  background-color: $color-primary-dark-1;
}

.container {
  margin-bottom: 4.8rem;
  color: $color-white;
  display: grid;
  grid-template-rows: min-content minmax(25rem, min-content) repeat(
      2,
      min-content
    );
  grid-template-columns:
    [full-satrt] minmax(4rem, 1fr) [center-start] repeat(
      7,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    minmax(4rem, 1fr) [full-end];

  row-gap: 3.2rem;
  column-gap: 2.4rem;

  @media only screen and (max-width: $bp-largest) {
    row-gap: 1.6rem;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns:
      [full-satrt] minmax(2rem, 1fr) [center-start] repeat(
        7,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end]
      minmax(2rem, 1fr) [full-end];
  }
}
