body {
  position: relative;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;
  color: $color-grey-light-2;
}

.heading-primary {
  font-size: 4.4rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3rem;
    
  }
}
