.center-text {
  text-align: center;
}

.mb-large {
  margin-bottom: 6.4rem;
}
.mb-medium {
  margin-bottom: 4.8rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 3.2rem;
  }
}
